{% extends 'myweb/loginbase.html' %}
{% load static from staticfiles %}
{% block mainbody %}
<form id="mainForm" class="main-form" method="post" action="{% url 'test1'%}">
	{% csrf_token %}
	<div class="tab-title">
		<a class="linkABlue" id="toTelRegister" href="javascript:void(0)">注册 Flyme 账号</a>
	</div>
	<div>
		  <span class="tip-font" style='width:280px;color:red'>{{info}}</span>
	</div>
	<div class="normalInput cycode-box fieldInput" id="cycode-box">
		<div class="cycode-selectbox">
			<input class="ipt-account inp-focus" name="username" id="account" maxlength="50" placeholder="账号" autocomplete="off">
		</div>
	</div>
	<div class="normalInput fieldInput passwd-box">
		<input class="inp-focus" name="password" id="password" maxlength="16" placeholder="密码" autocomplete="off" type="password">
   </div>
   <div class="normalInput fieldInput passwd-box">
		<input class="inp-focus" name="cpassword" id="password" maxlength="16" placeholder="重复密码" autocomplete="off" type="password">
   </div>

	<div id="flymeService" class="rememberField" style="font-size:12px;">
		<label class="pointer" for="acceptFlyme" tabindex="0">点击立即注册，即表示您同意并愿意遵守</label>
		<a href="/serviceAgreement" target="_blank" class="linkABlue">Flyme服务协议</a>
		<label class="pointer">和</label>
		<a href="#" target="_blank" class="linkABlue">法律声明</a>
	</div>
	<br>
	<button class="btn btn-primary btn-lg" style="width:300px;">立即注册</button>
	
	<div class="transferField">
		<br>
		<a class="go2register linkABlue" href="{% url 'login'%}" id="toLogin">登录</a>
	</div>
</form>
{% endblock %}